# --- BASE DE DATOS ---
DB_USER=postgres
DB_PASSWORD=una-clave-segura
DB_NAME=crm_os

# --- SEGURIDAD ---
JWT_SECRET=tu-secreto-super-seguro-ibr

# --- HOSTING ---
PORT=3001
VITE_API_URL=http://tu-dominio.com/api
